body {
    background-image: url("../Images/bg.png");
}

#navibar {
    border-bottom: 1px solid #cccccc;
}

#name {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 20px;
    height: 100%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

ul li a {
    color: #777;
}

#nav1, #nav2 {
    border-right: 1px solid #cccccc;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#nav3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#section {
    background-color: white;
    max-width: 720px;
    border: solid 1px #dddddd;
    margin-top: 30px;    
}

#title {
    color: #4aaaa5;
    padding: 15px 15px;
    border-bottom: solid 2px #dddddd;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#mepic, p {
    padding: 10px;
}

.footer {
    width: 100%;
    color: white;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    background: #666666;
    position: absolute;
    text-align: center;
    bottom: 0;
   
}

span {
    
    padding-top: 20px;
} 
